<html>
    <head>
        <title>Create Account</title>
    </head>
    <body>
        <h1>Create Account</h1>
        <form action="" method="post" nonvalidate> 
            {{accountForm.hidden_tag()}}
            <p>
            {{accountForm.username.label}}<br>
            {{accountForm.username(size = 16)}}</br>
            {{accountForm.email.label}}<br>
            {{accountForm.email(size = 64)}}</br>
            {{accountForm.password.label}}<br>
            {{accountForm.password(size = 128)}}</br>
            {{accountForm.address.label}}<br>
            {{accountForm.address(size = 128)}}</br>
            {{accountForm.paymentMethodCompany.label}}<br>
            {{accountForm.paymentMethodCompany(size = 10)}}</br>
            {{accountForm.paymentNumber.label}}<br>
            {{accountForm.paymentNumber(size = 19)}}</br>
            {{accountForm.paymentCVC.label}}<br>
            {{accountForm.paymentCVC(size = 3)}}</br>
            {{accountForm.paymentExpDate.label}}<br>
            {{accountForm.paymentExpDate(size = 5)}}</br>
            </p>
            <p>
            {{accountForm.submit()}}
            </p>
        </form>
    </body>
</html>