<html>

 <head>
  <title> yaBe-Home </title>
 </head>

  
 <body>
  
  <div>
    {% if current_user.is_anonymous %}
    {% else %}
        <a href="{{ url_for('logout') }}"> Logout </a>
    {% endif %}
  </div>

  <h1> Welcome (back) to yaBe! </h1>
  <p> yaBe is a totally original online store </p>
   
  {% with messages = get_flashed_messages() %}
  {% if messages %}
   {% for message in messages %}
    <p> {{message}} </p>
   {% endfor %}
  {% endif %}
  {% endwith %}

 </body>

 <form action = "" method = "post" novalidate>
   {{search_form.hidden_tag()}}
  <p>
   {{search_form.item_name.label}}<br>
   {{search_form.item_name(size = 32)}} </br>
  </p>
  <p>
   {{search_form.search}}  
  </p>
  </form>


  <a href = "sell_item"> Want to sell? Click here! </a><br>
  <a href = "cart"> View Shopping Cart </a><br>
  <a href = "checkout"> Previous Orders </a> <br>

  <a href = "deleteUser"> Click here to delete your account </a> <br>
  <a href = "view_profile"> View your profile </a> <br>

</html>
