<html>
 <head>
  <title> yaBe - Sell Item </title>
 </head> 


 <body>
  <h1> Sell Item </h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
   {% for message in messages %}
    <p> {{message}} </p>
   {% endfor %}
  {% endif %}
  {% endwith %}

  <form action = "" method = "post" novalidate>
   {{sell_form.hidden_tag()}}
   <p>
    {{sell_form.item_sell_name.label}} <br>
    {{sell_form.item_sell_name(size = 32)}} </br>
    {{sell_form.item_sell_price.label}} <br>
    {{sell_form.item_sell_price}} </br>
    {{sell_form.item_sell_desc.label}} <br>
    {{sell_form.item_sell_desc(size = 256)}} </br>
   </p>
   {% block content %} {% endblock %}
   <p>
    {{sell_form.sell}}
   </p>

 </body>
</html>
