<html>
    <head>
        <title>Upload Item Image</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{message}} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method = "post" action = "/sell_item" enctype = "multipart/form-data">
            <dl>
                <p>
                    <input type = "file" name = "file" class = "form-control" autocomplete = "off" required>
                </p>
            </dl>
            <p>
                <input type = "submit" value = "Submit" class = "btn btn-info">
            </p>
        </form>
    </body>
</html>