<html>
 <head>
  <title> User Account </title>
 </head>
  
  <body>
    <p> Username: {{account.username.}} </p> <br>
    <p> Email: {{account.email}} </p>  <br>
    <p> Password: {{account.password}} </p> <br>
    <p> Address: {{account.address}} </p> <br>
    <p> Payment Method Company: {{account.paymentMethodCompany}} </p> <br>
    <p> Payment Number: {{account.paymentNumber}} </p> <br>
    <p> Payment CVC: {{account.paymentCVC}} </p> <br>
    <p> Payment Expiration Date: {{account.paymentExpDate}} </p> <br>
  </body>

</html>